/* body {
  color: black;
  max-width:800px;
  margin: 100px auto 0;
  text-align: center;
  display: table;
} */
/* 
.counter {
  /* display: table-cell; */
 
 
  /* width:200px; */
  /* vertical-align: middle; */
/* }  */
